<div class="container" *ngIf="cliente">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
			
                              <div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input type="number" class="form-control" id="codigo" name="codigo"
                    [(ngModel)]="Cli_cod" required>
                </div>
				
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                    [(ngModel)]="Cli_nom" required>
                </div>
				
				<div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="number" class="form-control" id="telefono" name="telefono"
                    [(ngModel)]="Cli_tel" required>
                </div>
				
				<div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="text" class="form-control" id="correo" name="correo"
                    [(ngModel)]="Cli_cor" required>
                </div>
				
				
				
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
            </form>
        </div>
    </div>
</div>